.dx-datagrid-borders>.dx-datagrid-headers {
    border: 1px solid #EAEAEA;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dx-datagrid-borders>.dx-datagrid-total-footer,
.dx-datagrid-borders>.dx-datagrid-rowsview {
    border: 1px solid #EAEAEA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.table-skeleton {
    background: $skeleton-color;
    margin: 0 18px;
    height: 841px;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 30px;

    &__inside {
        margin: 0 60px;
        @include mobile {
            margin: 0 10px;
        }
    }
}