.toolbar {
    margin-top: 44px;
    margin-bottom: 10px;
    @extend %display-flex;
    @extend %align-center;
    flex-direction: row;
    justify-content: space-between;
    

    &__div {
        @extend %display-flex;
        @extend %align-center;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    &__filter-icon {
        cursor: pointer;
        width: 49px;
        height: 42px;
        background: #FFFFFF;
        border-radius: 29px;
        @extend %flex-center;

        &:hover {
            opacity: 0.5;
        }
    }

    &__add-icon {
        cursor: pointer;
        width: 175px;
        height: 42px;
        background: $main-purple;
        border-radius: 39px;
        @extend %flex-center;
        font-family: $poppins;
        color: $main-white;
        font-size: 14px;
        gap: 10px;

        &:hover {
            opacity: 0.7;
        }

        @include mobile {
            width: 150px;
            font-size: 12px;
            gap: 1px;
            .dx-icon-plus{
                font-size: 12px;
            }
        }
    }
}