$skeleton-color: linear-gradient(180deg,
#eff2ff -30.56%,
rgba(232, 236, 255, 0) 135.85%);
$row-even:rgba(255, 255, 255, 0.71);
$main-purple:#744BFC;
$main-white: #ffff;
$main-red:#e63946;
$main-black: #404040;
$border-color:#ccc;

